
body {
    background-image: url("../assets/thunderstorm-3440450_1920.jpg");
    background-attachment: fixed;
}

#form-heading {
    color: white;
}

#header {
    background-color: rgba(0, 0, 0, 0.445);
}